<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Complete registration</title>
  <%- include("../../_share/stylesheets.ejs") %>
</head>
<body>
  <%- include("../../_share/navbar.ejs") %>
  <div class="col-lg-8 mx-auto p-3 py-md-5">
    <main role="main" class="container">
      <div class="border-bottom mb-5">
        
      </div>
      <div class="alert alert-success text-center">
        <strong>Registration Completed</strong>
      </div>
    </main>
    <%- include("../../_share/footer.ejs") %>
  </div>
  <%- include("../../_share/javascripts.ejs") %>
</body>
</html>