<div class="card mb-2" style="width: 54rem;">
  <div class="card-body">
    <h5 class="card-title"><%= title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= authors %></h6>
    <p class="card-text"><%= content %></p>
    <a href="/posts<%= url %>" class="card-link">See entire.</a>
  </div>
</div>